body{
    background-color: var(--primary-color);    
}

.wp-header{
    height: 70px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
}

.wp-icon-box{
    height: 70px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 70px auto;
}

.wp-icon-box>.icon-title{
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    padding: auto;
    margin: auto;
}

.wp-icon-box>img{
    width: 100%;
    height: 100%;
}

.wp-container{
    display: grid;
    grid-template-columns: 75% 25%;
}

.container-left, .container-right{
    height: calc(100vh - 70px);
    padding: 1rem;
    width: 100%;
}

.container-left{
    background-color: none;
}

.container-right{
    background-color: var(--secondary-color);
    border-left: 1px solid #ffffff;
    overflow: scroll;
}

.wp-btn{
    text-decoration: none;
    cursor: pointer;
}

.tool-btn{
    display: block;
    background-color: transparent;
    color: #ffffff;
    padding: .5rem;
    border: 1px solid #ffffff;
    border-radius: .5rem;
    width: 3rem;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: .4s all ease-in-out;
}

.tool-btn:hover{
    background-color: #ffffff;
    color: var(--secondary-color);
}

.nav-btn{
    height: 35px;
    border: none;
    outline: none;
    color: rgb(250, 250, 250);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 2rem;
    border-radius: 0.25rem;
    font-size: 14px;
}

.nav-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
  }

.nav-btn:active {
  color: rgb(253, 253, 253);
}

.nav-btn:active:after {
  background: transparent;
}

.nav-btn:hover:before {
  opacity: 1;
}

.nav-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #40495e;
  color: white;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.nav-btn i {
  margin-right: 0.5rem;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

.wp-header-btn-box{
    flex-grow: 1;
    padding: 0 1rem;
    display: flex;
    justify-content: end;
}

.wp-right-title{
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 1rem;
}

.wp-tool-items{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.wp-tool-items>input[type="radio"]:checked + label{
    background-color: #ffffff;
    color: var(--secondary-color);   
}

.wp-right-items{
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.right-btn{
    padding: .5rem 0;
    background-color: #bcbcbc;
    color: var(--primary-color);
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: .25rem;
}

.right-btn:hover{
    background-color: #ffffff;
}

.wp-right-items>input[type="radio"]:checked + label{
    background-color: #ffffff;
}

.canvas-box{
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas{
    /* width: 100%; */
    height: 100%;
    transform-origin: top left; 
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: .3s transform ease-in-out;
    transform: scale(1) translateX(0%) translateY(0%);
    cursor: pointer;
}

#zplus-btn,#zmin-btn {
    font-size: 24px;
    padding: .25rem !important;
}

  .modal {
    opacity: 0;
    padding: 50px;
    position: absolute;
    z-index: 1100;
    -webkit-transition: opacity 600ms linear 600ms;
    -moz-transition: opacity 600ms linear 600ms;
    -ms-transition: opacity 600ms linear 600ms;
    -o-transition: opacity 600ms linear 600ms;
    transition: opacity 600ms linear 600ms;
  }
  
  .modal_overlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    filter: blur(25);
    z-index: 900;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
    -ms-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
  }
  
  .display {
    opacity: 1;
    visibility: visible;
  }
  
  .conceal {
    visibility: hidden;
  }
    
  button.modal_close {
    background: #363D4E;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    width: 52px;
    height: 52px;
    position: relative;
    left: 724px;
    top: -75px;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -ms-transition: -ms-transform 600ms;
    -o-transition: -o-transform 600ms;
    transition: transform 600ms;
  }
  
  button.modal_close:hover {
    background: #3E465A;
    -webkit-transform: rotate(360deg) scale(1.10);
    -moz-transform: rotate(360deg) scale(1.10);
    -ms-transform: rotate(360deg) scale(1.10);
    -o-transform: rotate(360deg) scale(1.10);
    transform: rotate(360deg) scale(1.10);
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    -ms-transition: -ms-transform 600ms;
    -o-transition: -o-transform 600ms;
    transition: transform 600ms;
  }
  
  button.modal_close span, span:before, span:after {
    background: #FFFFFF;
    content: '';
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 20px;
  }
  
  button.modal_close span:first-child {
    background: none;
    bottom: 0;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 0;
  }
  
  button.modal_close span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  button.modal_close span:after {
    -webkit-transform: translateY(-2px) rotate(-45deg);
    -moz-transform: translateY(-2px) rotate(-45deg);
    -ms-transform: translateY(-2px) rotate(-45deg);
    -o-transform: translateY(-2px) rotate(-45deg);
    transform: translateY(-2px) rotate(-45deg);
    top: 2px;
  }

  body .card {
    width: 800px;
    height: 400px;
    background: transparent;
    position: absolute;
    left: 20;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  }
  body .card_left {
    width: 40%;
    height: 400px;
    float: left;
    overflow: hidden;
    background: transparent;
  }
  body .card_left img {
    width: 100%;
    height: auto;
    margin-top: 25%;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    position: relative;
  }
  body .card_right {
    width: 60%;
    float: left;
    background: #15172B;
    height: 400px;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
  }
  body .card_right h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    margin: 30px 0 0 0;
    padding: 0 0 0 40px;
    letter-spacing: 1px;
  }
 
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    width: 100%;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 92px;
  }
  
  .cut-short {
    width: 60px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  