* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-transform: capitalize;
}
body {
  background: #27272f;
  height: 100vh;
}
nav {
  height: 70px;
  background: #16161d;
  display: flex;
  padding: 0.5rem;
}
.logo {
  height: 100%;
}
.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.btns {
  width: 150px;
  height: 35px;
  border: none;
  outline: none;
  color: rgb(250, 250, 250);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  padding: 0.4rem;
  border-radius: 0.25rem;
  font-size: 14px;
}

.btns:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.btns:active {
  color: rgb(253, 253, 253);
}

.btns:active:after {
  background: transparent;
}

.btns:hover:before {
  opacity: 1;
}

.btns:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #40495e;
  color: white;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.btns i {
  margin-right: 0.5rem;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.nav-buttons {
  flex-grow: 1;
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: space-evenly;
}
.dwn {
  background: #1be4c9;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border-radius: 5px;
}
.dwn:hover {
  background: #149180;
  border-radius: 5px;
}
main {
  display: grid;
  grid-template-columns: 75% 25%;
}
.left {
  background: #1b1b22;
  height: calc(100vh - 70px);
  padding: 1rem;
  box-sizing: border-box;
}
.right {
  color: #ffffff;
  padding: 1rem;
}
.tool-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}
.tool {
  border: 1px solid #ffffff;
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: 3rem;
  text-align: center;
  background: none;
  color: #ffffff;
}
.box-title {
  text-align: center;
}
.material {
  padding: 0.5rem;
  border: 1px solid#000000;
  border-radius: 0.25rem;
}
.material-box {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.d2l {
  background: none;
  color: #ffffff;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}
.d2l:hover {
  background: #ffffff;
  color: #16161d;
}
.l2d {
  background: #cac8c8;
  color: none;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}
.l2d:hover {
  background: #ffffff;
  color: none;
}
.l2d.active {
  background: #ffffff;
}
.d2l.active {
  background-color: #ffffff;
  color: #27272f;
}
#canvas {
  width: 1800px;
  height: 1200px;
  transform: scale(0.4) translateX(0%) translateY(0%);
  cursor: pointer;
  background: #ffffff;
  background-size: auto 100% !important;
  background-repeat:no-repeat !important;
  background-position: center !important;
}
.svg-container {
  height: 1800px;
  width: 1200px;
  margin: auto;
}
/* .lineX {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border: .5px dashed red;
  pointer-events: none;
  display: none;
}
.lineY {
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  border: .5px dashed red;
  pointer-events: none;
  display: none;
} */
.z-btn {
  font-size: 22px;
  border-radius: 0.25rem;
  border: none;
  /* width: 3rem; */
  /* margin: auto; */
}
.canvas-box {
  width: 100%;
  height: 100%;
  /* background: #27272f; */
  background: #2B313F;
  overflow: scroll;
  box-sizing: border-box;
}
.canvas-box::-webkit-scrollbar {
  width: .3rem;
  height: .3rem;
}
.canvas-box::-webkit-scrollbar-track {
    background: #ffffff;
 
}
.canvas-box::-webkit-scrollbar-thumb {
  background-color: #16161d;
  
}
.radio{
    display: none;
}
.choice-btn{
    pointer-events: none;
}
label{
  cursor: pointer;
}
#select:checked ~ #select-lbl button, #line:checked ~ #line-lbl button{
    background: #ffffff;
    color: #27272f;
}
.mt{
  margin-top: 1rem;
}
#import{
  display: none;
}



.slider {
  --slider-percent: .5;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.Transparency{
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
} 

#canva {
  fill-opacity: 0;
}