<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="icon" href="{{url_for('static', filename='assets/logo.jpeg')}}" />
    <script
      src="https://kit.fontawesome.com/a9deb815db.js"
      crossorigin="anonymous"
    ></script>
    <title>wifi</title>
  </head>
  <body>
    <!-- navbar area  -->
    <nav>
      <div class="logo"><img src="{{url_for('static', filename='assets/icon.svg')}}" alt="" /></div>
      <div class="nav-buttons">
        <button class="btns d2l">
          <i class="fas fa-pencil-alt"></i>ground floor
        </button>
        <!-- <input type="file" name="pic" id="import" accept="image/*" />
        <label for="import" class="btns d2l">
          <i class="fas fa-file-import"></i>
          import plan
        </label> -->
        <a href="/" class="btns d2l" style="text-decoration: none; display: flex;justify-content: center; align-items: center;">
          <i class="fas fa-file-import"></i>
          import plan
        </a>
        <button class="btns d2l"><i class="fas fa-save"></i>Save draft</button>
        <button class="btns dwn" id="export">
          <i class="fas fa-cloud-download-alt" id="export"></i>Export
        </button>
        <form action="/playground" method="post" id="svg-form" hidden><input type="text" name="svg" id="svg-data" hidden><input type="number" name="width" id="width"><input type="number" hidden id="height" name="height"></form>
      </div>
    </nav>


    <main>
      <!-- left container for svg -->
      <div class="left">
        <div class="canvas-box" id="canvas-box">
          <div class="svg-container" id="a">
            <svg id="canvas" style="background: url({{data}});">
              <defs>
                <pattern
                  id="smallGrid"
                  width="10"
                  height="10"
                  patternUnits="userSpaceOnUse"
                >
                  <path
                    d="M 10 0 L 0 0 0 10"
                    fill="none"
                    stroke="red"
                    stroke-width="0.25"
                  />
                </pattern>
                <pattern
                  id="grid"
                  width="100"
                  height="100"
                  patternUnits="userSpaceOnUse"
                >
                  <rect width="100" height="100" fill="url(#smallGrid)" />
                  <path
                    d="M 100 0 L 0 0 0 100"
                    fill="none"
                    stroke="green"
                    stroke-width="1"
                  />
                </pattern>
              </defs>
               <rect width="100%" height="100%" fill="url(#grid)" />
              <svg id ="canva">
                <rect width="100%" height="100%" fill="white" />
              </svg>

            </svg>
          </div>
        </div>



      </div>

      <!-- container for tools  -->
      <div class="right">
        <div class="tool-box">
          <div class="box-title">Tools</div>
          <div class="tool-items">
            <input
              type="radio"
              name="draw-state"
              id="select"
              class="radio"
              value="1"
              checked
            />
            <label for="select" id="select-lbl"
              ><button class="tool d2l choice-btn">
                <i class="fas fa-arrows-alt"></i></button
            ></label>
            <input type="radio" name="draw-state" id="line" class="radio" value="2" />
            <label for="line" id="line-lbl"
              ><button class="tool d2l choice-btn" id="draw">
                <i class="fas fa-slash"></i></button
            ></label>
            <button class="tool d2l" id="undo">
              <i class="fas fa-undo"></i>
            </button>
          </div>
        </div>
        <div class="materials">
          <div class="box-title">Materials</div>
          <div class="material-box" id="mlbox">
            <button
              class="material l2d active"
              onclick="changeColor(this,'CONCRETE')"
            >
              concrete
            </button>
            <button class="material l2d" onclick="changeColor(this,'WOOD')">
              wood
            </button>
            <button class="material l2d" onclick="changeColor(this,'GLASS')">
              glass
            </button>
            <button class="material l2d" onclick="changeColor(this,'METAL')">
              metal
            </button>
          </div>
        </div>
        <div class="zoom">
          <div class="box-title ag">zoom</div>
          <div class="material-box ag">
            <button class="z-btn l2d" id="z-in">+</button>
            <button class="z-btn l2d" id="z-out">-</button>
          </div>
        </div>        
        <div class="Transparency">
          <div class="box-title">Background Image Transparency</div>
          <div class="material-box">
            <input type="range" class="range" min="0" max="1" step="0.05" value="0.5" id="myRange">
          </div>
        </div>
      </div>
    </main>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/tools.js')}}"></script>
    <script src="{{url_for('static', filename='js/zoom.js')}}"></script>
    <script src="{{url_for('static', filename='js/navbuttons.js')}}"></script>
  </body>
</html>
